<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name='clientname' value='LanRedistClient'/>
  <targets>
    <target name="resourcefile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/STSTC/${clientname}/Resources.csv" deleteOldFileOnStartup="true">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
      </layout>
    </target>
    <target name="default" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/STSTC/${clientname}/logfile.csv" deleteOldFileOnStartup="true">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
      </layout>
    </target>
    <target name="globerror" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/STSTC/${clientname}/error.csv" deleteOldFileOnStartup="true">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
      </layout>
    </target>
    <target name="stdout" xsi:type="Console"  layout="${longdate} ${callsite} ${level} ${message}"/>
    <target name="stderr" xsi:type="Console"  layout="${longdate} ${callsite} ${level} ${message}" error="true" />
    <target name="window" xsi:type="RichTextBox"
            width="800"
            height="600"
            autoScroll="true"
            maxLines="40"
            controlName="nlogtarget"
            formName="RedistClient"
            messageRetention="OnlyMissed"
            useDefaultRowColoringRules="true"
            allowAccessoryFormCreation="false"
    />
  </targets>

  <rules>
    <logger name="Resources" minlevel="Error" writeTo="resourcefile" final="true"/>
    <logger name="*" 		 minlevel="Trace" writeTo="default,stdout,window"/>
    <logger name="*" 		 minlevel="Error" writeTo="globerror,stderr"/>
  </rules>
</nlog>