<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name='clientname' value='LanRedistServer'/>
  <targets>
    <target name="resourcefile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/STSTC/${clientname}/Resources.log" deleteOldFileOnStartup="true">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
      </layout>
    </target>
    <target name="default" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/STSTC/${clientname}/logfile.txt" deleteOldFileOnStartup="true">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
      </layout>
    </target>
    <target name="globerror" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/STSTC/${clientname}/error.txt" deleteOldFileOnStartup="true">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
      </layout>
    </target>
    <target name="stdout" xsi:type="Console"  layout="${longdate} ${callsite} ${level} ${message}"/>
    <target name="stderr" xsi:type="Console"  layout="${longdate} ${callsite} ${level} ${message}" error="true" />
  </targets>

  <rules>
    <logger name="Resources" minlevel="Error" writeTo="resourcefile" final="true"/>
    <logger name="*" 		 minlevel="Trace" writeTo="default"/>
    <logger name="*" 		 minlevel="Error" writeTo="stdout"/>
    <logger name="*" 		 minlevel="Error" writeTo="globerror"/>
    <logger name="*" 		 minlevel="Error" writeTo="stderr"/>
  </rules>
</nlog>